<div class="user-info flex">
  <%= render 'partials/user', user: @user %>

  <div class='bio'>
    <p><%= @user.bio %></p>
  </div>

  <div class='card'>
      <% @user.recent_three_posts.each do |post| %>
        <%= render 'partials/post', post: post %>
      <% end %>
  </div>

  <button>
    <%= link_to "See all posts", user_posts_path(user_id: @user.id)%>
  </button>
</div>
