<section >
  <%= render'partials/user', user: @user %>
    <% @posts.each do |post| %>
        <ul>
          <%= render 'partials/post', post: post %>
        </ul>
    <% end %>
  <button type='button'>Pagination</button>
</section>
